<nav class="sidebar">
    <div class="sidebar__logo">
        <span class="logo-mark">J</span>
        <div class="logo-text">
            <strong>JsonUI</strong>
            <small>CasaOS Gateway</small>
        </div>
    </div>
    <ul class="sidebar__nav">
        <li><NavLink href="/" Match="NavLinkMatch.All"><span>Dashboard</span></NavLink></li>
        <li><NavLink href="/secrets"><span>Secrets</span></NavLink></li>
        <li><NavLink href="/integrations"><span>Integrations</span></NavLink></li>
        <li><NavLink href="/actions"><span>Actions</span></NavLink></li>
        <li><NavLink href="/logging"><span>Logging</span></NavLink></li>
        <li><NavLink href="/swagger"><span>Swagger Import</span></NavLink></li>
    </ul>
</nav>
